{% extends "kaas/base.html" %}
{% block title %}KaaS{% endblock %}
{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Knapsack as a Service</h1>
        <p>The best on-line <a href="https://en.wikipedia.org/wiki/Knapsack_problem">Knapsack problem</a> service on the market.</p>
        {% if not request.user.is_authenticated %}
        <p>
            <a class="btn btn-lg btn-info" href="register/" role="button">Sign up today</a>
        </p>
        {% endif %}
    </div>
{% endblock %}