{% extends "kaas/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h1>Solve knapsack</h1>
<br/>
<div class="row">
    <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{{active1}}" class="active"><a href="#howto" aria-controls="howto" role="tab" data-toggle="tab">Introduction</a></li>
        <li role="presentation" class="{{active2}}"><a href="#json" aria-controls="json" role="tab" data-toggle="tab">Web JSON input</a></li>
        <li role="presentation" class="{{active3}}"><a href="#rest" aria-controls="rest" role="tab" data-toggle="tab">REST API</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {{activec1}}" id="howto">
            <br/>
            <h4>Introduction</h4>
            <p>Currenly, there are two ways how to submit a new knapsack task:
            <ul>
                <li>Copy-paste json configuration in to a textarea field and send to server (see tab <b>Web JSON input</b>)</li>
                <li>use REST API call (see tab <b>REST API</b>)</li>
            </ul>
            Both methods use standardized <b>kanpsack_json_format</b>&trade; which was developed in our Knapsack Laboratories.
            User defines solver and input data. Available solvers are:
            <ul>
                <li><b>GREEDY</b> - Greedy algorithm</li>
                <li><b>DYN_PROG</b> - Dynamic programming solution</li>
                <li><b>DYN_PROG_RECURRENT</b> - Recurrent version of dynamic programming</li>
                <li><b>BRANCH_AND_BOUND</b> - Branch and bound algorith with Greedy relexation</li>
            </ul>
            The format is more or less self describing, see an example below:
<pre>
{"solver_type": "BRANCH_AND_BOUND",
 "knapsack_data": {
                   "num_items": 4,
                   "capacity": 10,
                   "items": [
                             {
                              "index": 0,
                              "value": 8,
                              "weight": 4
                             },
                             {
                              "index": 1,
                              "value": 10,
                              "weight": 5
                             },
                             {
                              "index": 2,
                              "value": 15,
                              "weight": 8
                             },
                             {
                              "index": 3,
                              "value": 4,
                              "weight": 3
                             }
                            ]
                   }
}
</pre>
            </p>
        </div>
        <div role="tabpanel" class="tab-pane {{activec2}}" id="json">
            <br/>
            <h4>Upload task as a JSON file</h4>
            <p>
                Copy-paste configuration JSON and press <b>Solve</b> button. Don't worry about typos -- your configurations are thoroughly validated before real submission to a solver:) For the beginning you can copy-paste sample <b>kanpsack_json_format</b>&trade; from the first tab.
            </p>
            <p class="{%if solve_message %}bg-success solvesucerr{%endif%}">
                {{ solve_message }}
            </p>
            <form action="." method="post" enctype="multipart/form-data">
                {%for field in solve_form %}
                <div class="{%if field.errors %}bg-danger solvesucerr{%endif%}">
                    {{ field.errors }}
                </div>
                {{ field }}
                {% endfor %}
                {% csrf_token %}
                <p><input type="submit" class="btn btn-default" value="Solve"></p>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane {{activec3}}" id="rest">
            <br/>
            <h4>Submit tasks via REST API</h4>
            <p>
                Knapsack REST API is protected using token based authorization mechanism. User-specific token must be included
                into header of all API calls, see example below.
            </p>
            <p>
                Token for API calls belonging to this account: <code>{{token}}</code>
            </p>
            <p>
                Tasks in <b>kanpsack_json_format</b>&trade; can be submitted via API endpoint <tt>/api/v1/tasks/</tt> using POST. Example of calling this API using <a href="https://curl.haxx.se/" target="_blank"><tt>curl</tt></a> follows:
<pre>
curl -X POST http://127.0.0.1:8000/api/v1/tasks/ \
         -H "Content-Type: application/json" \
         -H "Authorization: Token 00a91e0adc4b814b89b2c850d419f107ce98d9ca" \
         -d @knapsack_file.json
</pre>
            <p>
            The <b>kanpsack_json_format</b>&trade; definition of the task is stored in <tt>knapsack_file.json</tt> file.
            </p>
            <p>
            If the call is successful, we get <tt>id</tt> (and also <tt>celery_task_id</tt>) which can be subsequently used for querying another API on task status and results:
            </p>
<pre>{
    "celery_task_id": "6611fd77-b7a9-4c77-b343-44f194996028",
    "id": "f3eccd03-f989-4d0d-8178-8f70804df528"
}</pre>
            <p>
            If the token is not valid we get
            </p>
            <pre>{"detail":"Invalid token."}</pre>
            </p>
            <p>
            Even tasks sent via REST API can be monitored using <a href="/dashboard/">Dashboard</a>.
            </p>
            <p>
            There is also an API endpoint <tt>/api/v1/tasks/[id]/</tt> which gives us information on the task given its <tt>id</tt>:
            </p>
            <pre>
curl -X GET http://127.0.0.1:8000/api/v1/tasks/f3eccd03-f989-4d0d-8178-8f70804df528/ \
     -H "Authorization: Token 00a91e0adc4b814b89b2c850d419f107ce98d9ca"
</pre>
            <p>
                What we get is a JSON structure describing task inputs, solver, solution times, content of the optimal set of items, its total value and weight. Should any errors be raised during taks solution they are included as well.

            </p>
<pre>
{
    "id": "f3eccd03-f989-4d0d-8178-8f70804df528",
    "celery_task_id": "6611fd77-b7a9-4c77-b343-44f194996028",
    "status": "SUCCESS",
    "solver_type": "BRANCH_AND_BOUND",
    "done": true,
    "user_name": "tester",
    "task_created": "2017-02-10T19:11:38.182706Z",
    "task_solve_start": "2017-02-10T19:11:39.751677Z",
    "task_solve_end": "2017-02-10T19:11:39.778822Z",
    "total_duration_sec": 1.596116,
    "solution_duration_sec": 0.027145,
    "exception_class": "",
    "exception_msg": "",
    "exception_traceback": "",
    "input": [
        {
            "value": 8,
            "index": 0,
            "weight": 4
        },
        {
            "value": 10,
            "index": 1,
            "weight": 5
        },
        {
            "value": 15,
            "index": 2,
            "weight": 8
        },
        {
            "value": 4,
            "index": 3,
            "weight": 3
        }
    ],
    "capacity": 10.0,
    "nitems": 4,
    "result_weight": 9.0,
    "result_value": 18.0,
    "result_items": [
        {
            "value": 8,
            "index": 0,
            "weight": 4,
            "name": ""
        },
        {
            "value": 10,
            "index": 1,
            "weight": 5,
            "name": ""
        }
    ]
}</pre>
        </div>
    </div>
    </div>
</div>









{% endblock %}