{% extends "kaas/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h1>Solve knapsack</h1>
<p>Here you can submit new knapsack task to one of available solvers. There are two ways how to do this:</p>


<h4>Upload task as a JSON file:</h4>
<p>
    {{ solve_message }}
</p>
<form action="." method="post" enctype="multipart/form-data">
    {%for field in solve_form %}
    <div class="control-group {%if field.errors %}bg-danger{%endif%}">
        {{ field.errors }}
    </div>
    {{ field }}
    {% endfor %}



    {% csrf_token %}
    <p><input type="submit" class="btn btn-default" value="Solve"></p>
</form>


<h4>Submit the task via a REST API:</h4>
<p>
    Your personal Token for API calls: <code>{{token}}</code>
</p>
<p>
You call kapsack API using the token as follows:
<pre>
    curl -X POST http://127.0.0.1:8000/api/v1/solve/ \
             -H "Content-Type: application/json" \
             -H "Authorization: Token 00a91e0adc4b814b89b2c850d419f107ce98d9ca" \
             -d @knapsack_file.json
</pre>
where the knapsack_file.json contains kanpsack json structure:
<pre>
{"solver_type": "BRANCH_AND_BOUND",
 "knapsack_data": {
                   "num_items": 4,
                   "capacity": 10,
                   "items": [
                             {
                              "index": 0,
                              "value": 8,
                              "weight": 4
                             },
                             {
                              "index": 1,
                              "value": 10,
                              "weight": 5
                             },
                             {
                              "index": 2,
                              "value": 15,
                              "weight": 8
                             },
                             {
                              "index": 3,
                              "value": 4,
                              "weight": 3
                             }
                            ]
                   }
}
</pre>
If the call is successful, we get task_id which can be subsequently used for querying another API on task status and results
<pre>{"task_id":"4eee853e-711a-4888-b5d1-5380f1b1fff9"}</pre>
If the token is not valid we get
<pre>{"detail":"Invalid token."}</pre>
</p>
{% endblock %}